*,
*::before,
*::after {
  box-sizing: border-box;
}

/* First hide the default browser's boring style. */
input[type='checkbox'] {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Makes the label clickable and also not selectable.*/
label {
  cursor: pointer;
  position: relative;
  margin-left: 15px;
  user-select: none;
}

/* Creates the box for our check mark. */
label::before {
  content: '';
  position: absolute;
  top: 1px;
  left: -17px;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: solid 1px rgb(25, 209, 25);
}

/* Here comes the checkmark. */
label::after {
  content: '';
  position: absolute;
  left: -14px;
  top: 5px;
  display: inline-block;
  width: 10px;
  height: 4px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(22, 43, 230);
  transform: rotate(-45deg);
}

/* Makes sure the tick is not displayed by default */
input[type='checkbox'] + label:after {
  content: none;
}

/* But, only when user checks the box */
input[type='checkbox']:checked + label:after {
  content: '';
}

/* Makes ease of user interaction by addressing the focus state */
input[type='checkbox']:focus + label::before {
  box-shadow: 0 0 4px 0 rgb(25, 209, 25);
}

/* Just to make it look big for demo. */
section {
  margin: 30px auto;
  width: fit-content;
  transform: scale(2);
  color: blue;
  border: none;
  padding: 24px 24px;
  box-shadow: 1px 1px 5px 5px gray;
}

body {
  background: linear-gradient(45deg, rgb(233, 233, 176), rgb(231, 89, 89));
}
