#pseudo-elements #age,
#pseudo-elements #email {
  width: 100%;
  margin: 5px 0;
}

#pseudo-elements #dialog {
  border: none;
  box-shadow: 5px 5px 10px 0px grey;
}

#pseudo-elements button {
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 5px 5px 10px 0px grey;
  color: #fff;
  background: linear-gradient(to left, #36b1da 0%, #29c6cd 100%);
  width: 100%;
  border-radius: 4px;
}

#pseudo-elements ::selection {
  background-color: yellowgreen;
  color: blue;
}

#pseudo-elements ::placeholder {
  padding: 0 5px;
  color: blue;
  opacity: 0.6;
  font-family: monospace;
}

#pseudo-elements ::backdrop {
  background-image: url(https://source.unsplash.com/random);
  opacity: 0.4;
}
